html {
  position: relative;
}

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(90deg, #09376c 0%, #fbf302 50%, #09376c 100%);
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}


header {
  background: linear-gradient(90deg, #012b5a 0%, #301885 100%);
  padding: 0.8rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-bottom: 4px solid #fdd835;
}


.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fdd835;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1;
  text-indent: 24px;
}

/* Contenedor dentro del encabezado para centrar y espaciar */
header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0 2rem;
    box-sizing: border-box;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #fdd835;
  letter-spacing: 2px;
}

header img {
  width: auto;
  height: 50px;
  margin-right: 25px;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

nav li {
  margin: 0;
  width: 100%;
}

nav a {
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: #ecf0f1;
  text-decoration: none;
  transition: 0.3s ease;
  text-align: center;
  width: 100%;
  box-sizing: border-box; /* Incluye relleno y borde en el ancho */
  border-radius: 0.5rem;
}

nav a:hover, nav a:focus {
  background-color: #b5a148; /* Un tono más oscuro al pasar el ratón */
  border-radius: 0.5rem;
  color: black;
  transition: all ease 0.3s;
}

main {
  padding: 1rem;
  max-width: 1200px;
  margin: 2rem auto;
  /* Margen superior e inferior para separar del encabezado y del pie de
     * página */
}

section {
  background-color: #ffffff;
  border: 3px solid #272525;
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

article {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

article:last-child {
  border-bottom: none;
}

.redesSociales {
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: start;
  align-items: center;
}

.redesSociales li {
  padding-top: 8px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactoList li:last-child{
  list-style: none;
}

.redesSociales img{
  width: 40px;
  height: 40px;
  display: block;
  transition: 0.3s ease;
}

.redesSociales img:hover{
  width: 44px;
  height: 44px;
  transition: 0.3s ease;
}

h2 {
  font-size: 1.5rem; /* Tamaño de fuente para h2 */
  font-weight: 600;
  color: #2980b9; /* Azul para los títulos */
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #012b5a;
}

p {
  margin-bottom: 1rem;
  color: #222; /* Color de texto más suave para párrafos */
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  display: block;
  margin: 1rem auto;
}

a {
  color: #012b5a; /* Color para enlaces */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.leerMas{
  color: #012b5a; /* Color para enlaces */
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.leerMas:hover{
  color: #fdd835;
  background-color: #012b5a;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  transition: 0.3s ease;
}

footer {
  border-top: 4px solid #fdd835;
  background: linear-gradient(90deg, #012b5a 0%, #301885 100%);
  color: #ecf0f1;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer p {
  margin: 0;
  color: #ecf0f1;
}

.plantelGrid{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.plantelGrid h3{
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 0.5rem 0;
}


ul.players {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.cardPlayer{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: linear-gradient(90deg, #012b5a 0%, #301885 100%);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  list-style: none; 
}

.cardPlayer img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: block;
}

